                            /*Border*/
.option-box .color-option {
    border: 4px solid #dc3545;
}
                            /*BackGround Color*/
.navbar-dark .navbar-nav .nav-link:focus,
.dropdown-item:hover, .dropdown-item:focus ,
#cog-icon
{
    background-color: #dc3545;
}

                            /*Color*/
.about h3 span,
.about p[class = 'lead'],
.copy p span,
.navbar .navbar-brand span,
.footer h3 ,
.contact-us .contact .row .info ul div:hover i,
.navbar-dark .navbar-brand:hover ,
.navbar-dark .navbar-nav .nav-link:hover 
 {
    color:#dc3545;
}
.option-box .color-option ul .blue-theme {
    background-color: #2121ce;
}
.option-box .color-option ul .green-theme {
    background-color: #138a37;
}
.option-box .color-option ul .darkorange-theme {
    background-color: darkorange;
}










